.postGallery {
    text-align: center;
}

.postGalleryImg {
    width:220px;
    margin:10px;
    padding:1px;
    border:1px solid #888;
    background-color:#ccc;  
    box-shadow: 3px 3px 4px #888;
    border-radius:5px;

}

.col-lg-4 p{
    height:150px;

}

.widget {
    width: 320px;
    /*height: 300px;*/
    margin:5px;
    /*border:1px solid #ccc;  
    box-shadow: 3px 3px 4px #888;
    border-radius:5px;*/
    padding:3px;
}



.widget h1,h2,h3,h4 {
    border-bottom:1px solid #eee;
    line-height: 1.3em;
}

article footer {
    margin-top:10px;
}

article footer a { 

    margin-left:7px;
}

/*** INSTAGRAM WIDGET ***/

#cycler{}
#cycler img{}
#cycler img.active{z-index:3}

.instagramWidget {
    width:320px;
    height:300px;
    position:relative;
    margin-bottom: 10px;
}
.instagramWidget img {
    max-height:260px;
    position:absolute;
    margin-left:25px; 
    left:0; 
    top:0; 
}





/* Phone */
@media  (min-device-width : 320px) and (max-device-width : 480px) {
    .postGalleryImg {
        width:150px;
    }

    article footer {
        float:none;
    }

    .widget {
        float:left;
    }

    #maincontent {
        width:100%;
    }

    .col-lg-4 p{
        height:250px;
        width:80%;
    }
}


/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .postGalleryImg {
            width:200px;
            margin:10px;
            padding:1px;
        }

        article footer {
            float:none;
        }

        .widget {
            float:left;
        }

        #maincontent {
            width:100%;
        }

   
}



