RewriteEngine On

RewriteRule ^page/([^"\r\n]*) ?page=$1
RewriteRule ^feed/ dp-feed.php
RewriteRule ^articles/([^"\r\n]*)/([^"\r\n]*)\.html$ ?articleID=$1

RewriteRule ^arguments/([^"\r\n]*)/([^"\r\n]*)/page/([^"\r\n]*) ?tagID=$1&page=$3
RewriteRule ^arguments/([^"\r\n]*)/([^"\r\n]*)/ ?tagID=$1

#SITEMAPS
RewriteRule ^sitemap([0-9]+).xml$ dp-sitemap.php?p=$1
RewriteRule ^sitemap.xml dp-sitemap.php?p=0
